/*<meta sourceDocument="C:\Users\Jen.Naused\Desktop\RELEASE NOTES\U19_DC_RN.docx" />*/

p
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

ul
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

li
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	margin-top: 0pt;
}

td
{
	margin-bottom: 8pt;
	font-family: Calibri;
	font-size: 11pt;
	vertical-align: top;
}

h1.Heading1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 1;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 24pt;
}

p.p_1
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'Times New Roman';
}

span.span_1
{
	font-family: 'Times New Roman';
	font-weight: bold;
}

span.span_2
{
	font-family: 'Times New Roman';
	font-weight: bold;
	color: #00467F;
}

span.span_3
{
	font-family: 'Times New Roman';
}

p.p_2
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

span.span_4
{
	font-family: Arial;
	font-weight: bold;
}

span.span_5
{
	font-family: Arial;
}

p.p_3
{
	margin-bottom: 0pt;
}

td.td_1
{
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
	background-color: #FFFFFF;
	padding-top: 12pt;
	padding-left: 12pt;
	padding-bottom: 12pt;
	padding-right: 12pt;
}

table.table_1
{
	border-collapse: collapse;
}

p.p_4
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 2;
	font-family: Arial;
	color: #000000;
	font-size: 25pt;
}

img.img_1
{
	visibility: visible;
	mso-wrap-style: square;
}

a.a_1
{
	font-family: Arial;
	color: #999999;
	font-size: 25pt;
}

p.p_5
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 2;
}

p.p_6
{
	margin-bottom: 0pt;
	font-family: Arial;
	font-weight: bold;
}

p.p_7
{
	margin-bottom: 0pt;
	font-family: Arial;
	font-style: italic;
}

td.td_2
{
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
	background-color: #DDDDDD;
	padding-top: 12pt;
	padding-left: 12pt;
	padding-bottom: 12pt;
	padding-right: 12pt;
}

p.p_8
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: Arial;
	font-weight: bold;
}

p.p_9
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 30pt;
	font-family: Arial;
}

p.p_10
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 30pt;
}

a.a_2
{
	font-family: Arial;
	color: #00467F;
}

p.p_11
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: Arial;
}

table.table_2
{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

p.p_12
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: Arial;
	font-style: italic;
}

span.span_6
{
	font-family: Arial;
	font-style: italic;
}

p.p_13
{
	margin-bottom: 0pt;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

td.td_3
{
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
	padding-top: 12pt;
	padding-left: 12pt;
	padding-bottom: 12pt;
	padding-right: 12pt;
}

